@page "/createuser"
@using TileMeUpMobile.Data
@using TileMeUpDomain.Models
@inject UserService userService

@if (user == null)
{
    <h3>Create Account</h3>


    <div>
        <label for="firstname">Firstname:</label>
        <input type="text" id="firstname" @bind="firstname" />
        <br/>
        <label for="lastname">Lastname:</label>
        <input type="text" id="lastname" @bind="lastname" />
        <br />
        <label for="email">Email:</label>
        <input type="text" id="email" @bind="email" />
        <br />
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" @bind="nickname" />
    </div>
    <button type="submit" @onclick="SubmitForm">Submit</button>

}
else
{
    <h2>Welcome @user.Firstname!</h2>
}


@code {
    private string firstname;
    private string lastname;
    private string email;
    private string nickname;

    private User user;

    private async Task SubmitForm()
    {
        user = new User();
        user.Firstname = firstname;
        user.Lastname = lastname;
        user.Email = email;
        user.Nickname = nickname;
        user.Status = "active";
        user.Access = "public";
        user.CreatedOn = DateTime.Now;
        user.UpdatedOn = DateTime.Now;
        user.CreatedById = 0;
        user.UpdateById = 0;
        user.CreatedBy = null;
        user.UpdatedBy = null;        

        user = await userService.CreateUserAsync(user);
    }
}
