@page "/walls"

@using TileMeUpMobile.Data
@using TileMeUpDomain.Models
@inject WallService wallService
@inject NavigationManager NavigationManager


<Button Class="btn-primary btn-lg" @onclick="() => CreateWall()">New Wall</Button>
<br />
<br />
@if (walls != null)
{
    <div class="wall-container">
        @foreach (var wall in walls)
        {
            <Card>
                <CardBody>
                    <input type="hidden" value="@wall.WallId" name="wallId"/>                    
                    <CardTitle Size="3">
                        @wall.WallName
                    </CardTitle>
                    <CardText>
                        @wall.WallDescription
                    </CardText>
                    <Button Class="btn-light btn-sm" @onclick="(() => ViewWall(wall.WallId))">View</Button>
                </CardBody>
            </Card>
            <br />
        }
    </div>
}




@code {
    private List<Wall> walls;

    protected override async Task OnInitializedAsync()
    {
        walls = await wallService.GetAll();
    }

    private void ViewWall(int wallId)
    {
        // Navigate to the detailed view page using the wallId
        NavigationManager.NavigateTo($"wall/{wallId}");
    }

    private void CreateWall()
    {
        NavigationManager.NavigateTo($"createwall");
    }
}

